// setting.scss以外の設定

// color
$Black:#222222;
$gray:#bbbbbb;
$White:#ffffff;

$Color1:#f5a83b;
$Color2:#003a43;

$bgColorWhite:#f5f5f5;
$bgColorGray:#ede9e6;

$tableBgColor:#ffffff;
$tableBorderColor:#333333;

$penjiColor:#0000ff;
$nyoroakiColor:#ff0000;
$kokezoColor:#fbff00;
$ichiroColor:#3bf53b;
$nyamikoColor:#aa00ff;

// ヘッダー・フッター
$headerHeight: 100px;
$footerHeight: 100px;