@charset "utf-8";

@use "./variable" as *;
// variable

// typography
div.pledge-item{
    div.rank{
        font-size: 3rem;
        font-weight: bold;
        font-style: italic;
    }
    div.pledge-name{
        font-weight: bold;
        color: $White;
    }
    div.text{
        div.catch-copy{
            font-weight: bold;
            color: $Black;
        }
        div.name{
            font-size: 2rem;
            font-weight: bold;
            color: $Black;
            span{
                font-size: 1.4rem;
            }
        }
    }
}

// layout
html{
    min-height: 100vh;
}
body{
    background-image: url(../images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding-top: 3rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
}
div.ranking{
    margin: 0 3% 0;
}
div.ranking-item{
    background-color: $White;
    display: flex;
    width: 100%;
    min-height: 120px;
    border: 1px solid rgb(86, 86, 86);
    border-radius: 30px;
    box-shadow: 4px 4px;
    margin-bottom: 1rem;
    padding: 0 1rem;
    align-items: center;
}

div.pledge-item{
    display: flex;
    align-items: center;
    width: 50%;
    div.rank{
        margin-right: 1rem;
    }
    div.pledge-name{
        background-color: rgb(25, 25, 174);
        border-radius: 25px;
        width: 20%;
        text-align: center;
        padding: 0.3em 0;
    }
    img{
        height: 100%;
    }
}
div.gauge{
    margin: auto 0;
    width: 50%;
    height: 80px;
    div.sector{
        display: flex;
        align-items: center;
        background-image: url(../images/sector.png);
        background-repeat: no-repeat;
        background-position: 0 center;
        background-size: contain;
        height: 100%;
        width: 100%;
        div.now-gauge{
            width: 30%;//投票数に応じて変動
            height: 50%;
            background-color: aquamarine;
            border-radius: 10px;
        }
    }
}
div.bottom-logo{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    img{
        width: 15%;
    }
}


// *{
//     border: 0.1px solid red;
// }

// animation
div.ranking.ranking-updating {
    position: relative;
}

div.ranking-item {
    transition: transform 0.5s ease-in-out;
    position: relative;
    z-index: 1;
}

div.ranking-item.moving {
    z-index: 10;
}

div.gauge div.sector div.now-gauge {
    transition: width 0.5s ease-in-out;
}