@charset "utf-8";

@use "./variable" as *;
// variable

// typography
div.pledge-item{
    p.rank{
        font-size: 3rem;
        font-weight: bold;
        font-style: italic;
    }
    p.pledge-name{
        font-weight: bold;
        color: $White;
    }
    div.text{
        p.catch-copy{
            font-weight: bold;
            color: $Black;
        }
        p.name{
            font-size: 2rem;
            font-weight: bold;
            color: $Black;
            span{
                font-size: 1.4rem;
            }
        }
    }
}

// layout
body{
    background-image: url();
}
div.ranking{
    margin: 0 3% 4rem;
}
div.ranking-item{
    display: flex;
    width: 100%;
    height: 13%;
    border: 1px solid rgb(86, 86, 86);
    border-radius: 30px;
    box-shadow: 4px 4px;
    margin-bottom: 1rem;
    padding: 0 1rem;
}

div.pledge-item{
    display: flex;
    align-items: center;
    width: 50%;
    p.rank{
        margin-right: 1rem;
    }
    p.pledge-name{
        background-color: rgb(25, 25, 174);
        border-radius: 25px;
        width: 20%;
        text-align: center;
        padding: 0.3em 0;
    }
    img{
        height: 100%;
    }
}
div.gauge{
    margin: auto 0;
    width: 50%;
    height: 80%;
    div.sector{
        display: flex;
        align-items: center;
        background-image: url(../images/sector.png);
        background-repeat: no-repeat;
        background-position: 0 center;
        background-size: contain;
        height: 100%;
        width: 100%;
        div.now-gauge{
            width: 30%;//投票数に応じて変動
            height: 50%;
            background-color: aquamarine;
            border-radius: 10px;
        }
    }
}
div.bottom-logo{
    display: flex;
    justify-content: center;
    img{
        width: 15%;
    }
}


// *{
//     border: 0.1px solid red;
// }