@use "../../module/variable" as *;
@use "../../module/animation" as *;
// ページ単体に適用するスタイル
// スムーススクロール
html{
    scroll-behavior: smooth;
}
// 文字設定
section.about{
    div.text-area{
        h2{
            font-size: 3.3rem;
            font-weight: bold;
            color: $White;
        }
        p.catchcopy{
            font-size: 1.4rem;
            font-weight: bold;
            line-height: 1.3;
            color: $White;
        }
        p.text{
            color: $White;
        }
        p.link{
            color: $Color1;
            font-weight: bold;
            font-size: 1.1rem;
        }
    }
}

section.explanation{
    div.contents{
        div.item{
            h3{
                font-weight: bold;
                font-size: 1.5rem;
            }
            p{
                font-size: 0.9rem;
                color: $gray;
            }
        }
    }
    p.link{
        color: $White;
        font-weight: bold;
        font-size: 1.2rem;
    }
}

// レイアウト
p.link{
    text-align: center;
    a{
        padding: 0.8em 1em;
        background-color: $Color1;
        border-radius: 25px;
    }
}

section.top{
    height: calc(100vh - $headerHeight);
    position: relative;

    @media(769px <= width){
        height: auto;
        position: static;
    }
    img{
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;
        z-index: -1;

        @media(769px <= width){
            position: static;
            height: auto;
            width: 100%;
        }
    }
}
section.about{
    background-image: url(../../../images/about_img.png);
    background-repeat: none;
    background-size: cover;
    background-position: center bottom 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @media(769px <= width){
        background-position: center;
        justify-content: start;
    }
    div.text-area{
        width: fit-content;
        max-width: 300px;

        @media(769px <= width){
            margin-left: 10%;
        }
        h2{
            margin-bottom: 1em;

            img{
                width: 70%;
            }
        }
        p.catchcopy{
            margin-bottom: 1.8em;
        }
        p.text{
            margin-bottom: 2.5em;
        }
        p.link{
            text-align: center;

            a{
                padding: 0.8em 1em;
                background-color: $bgColorWhite;
                border-radius: 25px;
            }
        }
    }
}

section.explanation{
    padding: 6rem 3%;
    background-image: url(../../../images/bg.png);
    background-repeat: none;
    background-size: cover;
    background-position: center;

    div.contents{
        width: 100%;
        gap: 1.5rem;
        margin-bottom: 4rem;
        @media(769px <= width){
            display: flex;
            justify-content: center;
        }
        div.item{
            width: 100%;
            max-width: 350px;
            margin: 0 auto 2rem;

            @media(769px <= width){
                width: 30%;
                max-width: 100%;
                margin: 0;
            }
            img{
                width: 100%;
                aspect-ratio: 3/2;
                border-radius: 25px;
                margin-bottom: 2rem;
            }
            h3{
                text-align: center;
                margin-bottom: 1em;
            }
            p{
                text-align: center;
            }
        }
    }
}