@charset "utf-8";

// scssファイルの読み込み
@use "module/_setting.scss";
@use "module/_header.scss";
@use "module/_hamburger.scss";
@use "module/_footer.scss";

// サイト全体に共通するスタイルの読み込み
html{
    font-family: "hiragino-kaku-gothic-pron", sans-serif;
    font-size: 14px;
    line-height: 1.6;
    letter-spacing: 0.03em;
}
