@use "../../module/variable" as *;
@use "../../module/animation" as *;
// ページ単体に適用するスタイル
// stickyの打ち消し
header,footer{
    position: static;
}
// 画面レイアウト
html,
body,
#container{
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}
#container{
    display: grid;
    grid-template-rows: $headerHeight 1fr $footerHeight;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "main"
        "footer";
    header{
        grid-area: header;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
}

// Swiper
// Swiper本体
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-wrapper,
.swiper-slide,
.slide_item{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slide_item1{
    background-image: url(../../../images/character/chara_penji.png);
}
.slide_item2{
    background-image: url(../../../images/character/chara_nyoroaki.png);
}
.slide_item3{
    background-image: url(../../../images/character/chara_kokezo.png);
}
.slide_item4{
    background-image: url(../../../images/character/chara_ichiro.png);
}
.slide_item5{
    background-image: url(../../../images/character/chara_nyamiko.png);
}

// navigation buttons
// デフォルトの矢印を削除
.swiper-button-prev::after, .swiper-rtl .swiper-button-next::after {
    content: ''; 
}
.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
    content: ''; 
}
.btn_wrapper{
    display: block;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    margin: 0 auto;
    z-index: 5; // スライドの上に表示されるように
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.swiper-button-prev,.swiper-button-next{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $White;
    color: $Black;
    border: 1px solid $Black;
    position: relative;

    i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
