@charset "utf-8";
@use "../../module/variable" as *;
@use "../../module/animation" as *;
// ページ単体に適用するスタイル
// ヘッダー、フッターのstickyを打ち消し
header,footer{
    position: static;
}

main{
    height: 100vh;
    width: 100%;
    background-color: $bgColorWhite;
}
// Swiper
// Swiper本体
.swiper{
    width: 100%;
    height: 100%;
}
.swiper-wrapper,
.swiper-slide,
.slide-item{
    width: 100%;
    height: 100%;
}
.slide-item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.slide-item1{
    background-image: url(../../../images/character/chara_penji.png);
}
.slide-item2{
    background-image: url(../../../images/character/chara_nyoroaki.png);
}
.slide-item3{
    background-image: url(../../../images/character/chara_kokezo.png);
}
.slide-item4{
    background-image: url(../../../images/character/chara_ichiro.png);
}
.slide-item5{
    background-image: url(../../../images/character/chara_nyamiko.png);
}

// navigation buttons
// デフォルトの矢印を削除
.swiper-button-prev::after, .swiper-rtl .swiper-button-next::after {
    content: ''; 
}
.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
    content: ''; 
}
.btn-wrapper{
    display: block;
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    margin: 0 auto;
    z-index: 5; // スライドの上に表示されるように
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.swiper-button-prev,.swiper-button-next{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $White;
    color: $Black;
    border: 1px solid $Black;
    position: relative;

    i{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}