@use "_variable.scss" as *;

.btn-main-color{
    text-align: center;
    padding: 0.8em 1em;
    color: $White;
    font-weight: bold;
    background-color: $Color1;
    border-radius: 25px;
}
.btn-white {
    text-align: center;
    padding: 0.8em 1em;
    color: $Color1;
    font-weight: bold;
    background-color: $White;
    border: 2px solid $Color1;
    border-radius: 25px;
}