@use "_variable.scss" as *;

.btn_mainColor{
    text-align: center;
    padding: 0.8em 1em;
    color: $White;
    font-weight: bold;
    background-color: $Color1;
    border-radius: 25px;
    opacity: 1;
    transition: 0.3s;
    &:hover{
        opacity: 0.7;
    }
}