@use "_variable.scss" as *;

footer{
    background-color: $bgColorWhite;
    position: sticky;
    bottom: 0;
    padding: 0 3%;
    width: 100vw;
    height: $footerHeight;
    display: flex;
    align-items: center;
    img.logo{
        width: 200px;
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
        margin-left: 3rem;
    }
    img.sns{
        width: 140px;

    }
}
// *{
//     border: 1px solid red;
// }