@use "_variable.scss" as *;
@use "_animation.scss" as *;

footer{
    height: $footerHeight;
    width: 100%;
    background-color: $bgColorWhite;
    padding: 1rem 0;
    
    div.footer-inner{
        height: 100%;
        width: 100%;
        position: relative;
    }
    div.footer-logo{
        position: absolute;
        display: inline-block;
        width: fit-content;
        bottom: 0;
        left: 10%;

        @media(769px <= width){
            top: 50%;
            transform: translateY(-50%);
            left: 3%;
            z-index: 10;
        }
        img.logo{
            width: 100px;

            @media(769px <= width){
                width: 140px;
            }
        }
    }
    div.footer-nav{
        display: block;
        text-align: center;

        @media(769px <= width){
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.7rem;
        gap: 3em;

        @media(769px <= width){
            font-size: 1rem;
        }
        a{
            display: inline-block;
            box-sizing: border-box;
        }
    }
    div.sns-link{
        position: absolute;
        display: inline-block;
        width: fit-content;
        bottom: 0;
        right: 10%;
        z-index: 10;

        @media(769px <= width){
            top: 50%;
            transform: translateY(-50%);
            right: 3%;
        }
        img.sns{
            width: 80px;

            @media(769px <= width){
                width: 120px;
            }
        }
    }
}
