@use "_variable.scss" as *;
@use "_animation.scss" as *;

footer{
    background-color: $bgColorWhite;
    height: $footerHeight;
    width: 100%;
    padding: 1rem 0;

    div.footer-inner{
        height: 100%;
        width: 100%;
        position: relative;
        margin: 0 auto;
        
        @media(769px <= width){
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    div.footer-logo{
        display: block;
        text-align: center;
        margin-bottom: 0.5rem;

        @media(769px <= width){
            position: absolute;
            display: inline-block;
            width: fit-content;
            top: 50%;
            transform: translateY(-50%);
            left: 3%;
        }
        img.logo{
            width: 100px;

            @media(769px <= width){
                width: 140px;
            }
        }
    }
    ul{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
        font-size: 0.6rem;

        @media(769px <= width){
            font-size: 1rem;
            gap: 2em;
            margin-bottom: 0.2rem;
        }
        a{
            display: inline-block;
            box-sizing: border-box;
        }
    }
    div.sns-link{
        display: block;
        text-align: center;

        @media(769px <= width){
            position: absolute;
            display: inline-block;
            width: fit-content;
            top: 50%;
            transform: translateY(-50%);
            right: 3%;
        }
        img.sns{
            width: 60px;

            @media(769px <= width){
                width: 120px;
            }
        }
    }
}
