@use "_variable.scss" as *;

// headerの文字設定
header{
    li{
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1;
        font-family: "vdl-logojrblack", sans-serif;
        color: $Black;
        span{
            font-size: 0.4rem;
            font-family: "hiragino-kaku-gothic-pron", sans-serif;
        }
    }
}

// headerのスタイル設定
header{
    background-color: $bgColorWhite;
    height: $headerHeight;
    position: sticky;
    top: 0;
    @media(769px <= width){
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    h1{
        text-align: center;
        margin-bottom: 1rem;
        @media(769px <= width){
            margin-left: 3%;
            text-align: start;
        }
        img.logo{
            width: 180px;
            @media(769px <= width){
                width: 250px;
            }
        }
    }
    nav{
        ul{
            display: flex;
            justify-content: center;
            gap: 1em;
            li{
                span{
                    display: block;
                    text-align: center;
                }
            }
        }
    }
    p.vote{
        text-align: right;
        margin-right: 3%;
        @media(769px <= width){
            text-align: start;
        }
        img.vote-img{
            width: 70px;
            position: relative;
            z-index: 2;
            @media(769px <= width){
                width: 120px;
                top: 1.5rem;
            }
        }
    }
}
// *{
//     border: 0.1px solid red;
// }