// setting.scss以外の設定

// color
$Black:#222222;
$gray:#bbbbbb;
$letterWhite:#ffffff;
$bgWhite:#fefefe;

$btnBgColor:#2a72a9;
$btnBorderColor:#9b9b9b;
$btnShadowColor:#54676743;

$tableBgColor:#ffffff;
$tableBorderColor:#333333;



// font
// font-family:フォント名



// typography
// body{
//   color: #000;
//   font-family: フォント名;
// }