// setting.scss以外の設定

// color
$Black:#222222;
$gray:#bbbbbb;
$White:#ffffff;

$Color1:#f5a83b;
$Color2:#003a43;

$bgColorWhite:#f5f5f5;
$bgColorGray:#ede9e6;

$tableBgColor:#ffffff;
$tableBorderColor:#333333;



// font
// VDL ロゴJrブラック
$font-family-vdl-logojrblack: "vdl-logojrblack", sans-serif;


// typography
// body{
//   color: #000;
//   font-family: フォント名;
// }