// setting.scss以外の設定

// color
$Black:#222222;
$gray:#bbbbbb;
$White:#ffffff;

$Color1:#f5a83b;
// $Color2:
$Color3:#003a43;

$bgColorWhite:#f5f5f5;
$bgColorGray:#ede9e6;

$tableBgColor:#ffffff;
$tableBorderColor:#333333;



// font
// font-family:フォント名



// typography
// body{
//   color: #000;
//   font-family: フォント名;
// }