@charset "utf-8";
@use "../../module/variable" as *;
@use "../../module/btn" as *;
@use "../../module/animation" as *;
// ページ単体に適用するスタイル
// stickyの打ち消し
header,footer{
    position: static;
}
// 画面レイアウト
html,
body,
#container{
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}
#container{
    display: grid;
    grid-template-rows: $headerHeight 1fr $footerHeight;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "main"
        "footer";
    header{
        grid-area: header;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
}

