@charset "utf-8";
@use "../../module/variable" as *;
@use "../../module/animation" as *;
@use "../../module/btn" as *;
// ページ単体に適用するスタイル
// stickyの打ち消し
header,footer{
    position: static;
}
// 画面レイアウト
html,
body,
#container{
    height: 100%;
    min-height: 100%;
    width: 100%;
    min-width: 100%;
}
#container{
    display: grid;
    grid-template-rows: $headerHeight 1fr $footerHeight;
    grid-template-columns: 100%;
    grid-template-areas:
        "header"
        "main"
        "footer";
    header{
        grid-area: header;
    }
    main{
        grid-area: main;
    }
    footer{
        grid-area: footer;
    }
}
html{
    overflow-x: hidden;
}

// Swiper
// Swiper本体
.swiper{
    width: 100%;
    height: 100%;
    padding-bottom: 1rem;
    padding-top: 1rem;
}
.swiper-wrapper,
.swiper-slide,
.slide_item{
    width: 100%;
    height: 100%;
}
.swiper-slide{

    &:not(.swiper-slide-active) {
        .slide_item {
            pointer-events: none;
            opacity: 0.3;
        }
    }
}
.slide_item{

    img{
        width: 100%;
        height: auto;
    }
    .text_wrapper{
        p{
            text-align: center;
            font-family: "vdl-logojrblack", sans-serif;
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 0.6rem;
            span{
                font-size: 2rem;
            }
        }
        button{
            display: block;
            margin: 0 auto;
        }
    }
}

// navigation buttons
// デフォルトの矢印を削除
.swiper-button-prev::after, .swiper-rtl .swiper-button-next::after {
    content: ''; 
}
.swiper-button-next::after, .swiper-rtl .swiper-button-prev::after {
    content: ''; 
}
.swiper-button-prev,.swiper-button-next{
    display: grid;
    place-content: center;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    margin: auto;
}
.swiper-button-prev::before, .swiper-button-next::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
}
.swiper-button-prev::after, .swiper-button-next::after {
    width: 1.2rem;
    height: 1.2rem;
    content: "";
    border: solid $White;
    border-width: 3px 3px 0 0;
}
.swiper-button-prev::after {
    margin-left: 0.4rem;
    transform: rotate(-135deg);
}
.swiper-button-next::after {
    margin-right: 0.4rem;
    transform: rotate(45deg);
}
.swiper-button-prev {
    right: calc(100% - 8rem);
}
.swiper-button-next {   
    left: calc(100% - 8rem);
}