@use "../../module/variable" as *;
// ページ単体に適用するスタイル
// 文字設定
div.contents{
    div.completion-message{
        h2{
            font-size: 3.5rem;
            font-family: "vdl-logojrblack", sans-serif;
            color: $Black;
            letter-spacing: 0.4em;
        }
        div.text-area{
            p.election-title{
                color: $Black;
                letter-spacing: 0.4em;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
        div.committee{
            p.committee-name{
                color: $Black;
                font-size: 0.65rem;
                letter-spacing: 0.3em;
            }
        }
        div.selected-pledge{
            h3{
                color: $Black;
                font-size: 1.2rem;
                font-weight: bold;
            }
            p.pledge-title{
                color: $Black;
                font-weight: bold;
                font-size: 1.5rem;
            }
            p.pledge-name{
                color: $Black;
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
        ul.detail{
            li{
                color: #A0A0A0;
                font-size: 0.65rem;
            }
        }
        p.post{
            font-size: 1.2rem;
            font-weight: bold;
            color: $White;
        }
    }
}

// レイアウト
main{
    background-image: url(../../../images/bg.png);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    div.completion{
        margin-left: 3%;
        img{
            width: 100px;
            @media(1000px <= width){
                width: 150px;
            }
        }
    }
    div.contents{
        max-width: 1280px;
        @media(1000px <= width){
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }
        div.isome-img{
            width: calc(100vw - 320px - 6rem);
            min-width: 350px;
            background-color: aquamarine;
            margin: 0 auto 2rem;
            @media(1000px <= width){
                margin: 0;
            }
        }
        div.completion-message{
            width: 320px;
            margin-left: auto;
            margin-right: auto;
            @media(1000px <= width){
                margin-left: 3rem;
                margin-right: 0;
            }
            h2{
                text-align: center;
            }
            div.text-area{
                p.election-title{
                    text-align: center;
                    margin-bottom: 1em;
                }
                div.committee{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 4em;
                    p.committee-name{
                        text-align: center;
                        margin-left: 4rem;
                    }
                    img{
                        width: 3rem;
                        right: 0;
                    }
                }
                div.selected-pledge{
                    margin-bottom: 2rem;
                    h3{
                        text-align: center;
                    }
                    p.pledge-title{
                        text-align: center;
                    }
                    p.pledge-name{
                        text-align: center;
                    }
                }
                ul.detail{
                    margin: 0 auto 4rem;
                    width: 290px;
                    li{
                        list-style: disc;
                    }
                }
                p.post{
                    text-align: center;
                    a{
                        background-color: $Black;
                        padding: 0.5em 0.7em;
                        border-radius: 25px;
                    }
                }
            }
        }
    }
}

// *{
//     border: 0.1px solid red;
// }