@use "../../module/variable" as *;
// ページ単体に適用するスタイル
// 文字設定
div.contents{
    div.completion-message{
        h2{
            font-size: 3.5rem;
            font-family: "vdl-logojrblack", sans-serif;
            color: $Black;
            letter-spacing: 0.4em;
        }
        div.text-area{
            p.election-title{
                color: $Black;
                letter-spacing: 0.4em;
                font-size: 1.2rem;
                font-weight: bold;
            }
        }
        div.committee{
            p.committee-name{
                color: $Black;
                font-size: 0.65rem;
                letter-spacing: 0.5em;
                font-weight: bold;
            }
        }
        div.selected-pledge{
            h3{
                color: $Black;
                font-size: 1.2rem;
                font-weight: bold;
            }
            p.pledge-title{
                color: $Black;
                font-weight: bold;
                font-size: 1.5rem;
            }
            p.pledge-name{
                color: $Black;
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
        ul.detail{
            li{
                color: #A0A0A0;
                font-size: 0.65rem;
            }
        }
        p.add-wallet{
            font-size: 1rem;
            font-weight: bold;
            color: $White;
        }
        div.sns-contents{
            p.text{
                font-weight: bold;
                color: $Black;
                line-height: 1.3;
            }
            p.x-link{
                font-weight: bold;
                color: $White;
                font-size: 0.8rem;
                line-height: 2.5;
            }
            p.instagram-link{
                font-weight: bold;
                color: $White;
                font-size: 0.8rem;
                line-height: 2.5;
            }
        }
    }
}

// レイアウト
main{
    background-image: url(../../../images/bg.png);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    div.completion{
        margin-left: 3%;
        img{
            width: 100px;
            @media(1000px <= width){
                width: 150px;
            }
        }
    }
    div.contents{
        max-width: 1200px;
        @media(1000px <= width){
            display: flex;
            margin-left: auto;
            margin-right: auto;
        }
        @media(1800px <= width){
            max-width: 1550px;
        }
        div.isome-img{
            width: calc(100vw - 320px - 6rem);
            min-width: 350px;
            margin: 0 auto 2rem;
            @media(1000px <= width){
                margin: 0;
            }
            img{
                width: calc(100vw - 320px - 6rem);
                min-width: 350px;
                max-width: 800px;
                @media(1800px <= width){
                    max-width: 1100px;
                }
            }
        }
        div.completion-message{
            width: 320px;
            margin-left: auto;
            margin-right: auto;
            @media(1000px <= width){
                margin-left: 3rem;
                margin-right: 0;
            }
            @media(1800px <= width){
                transform: scale(1.3);
                transform-origin: top left;
            }
            h2{
                text-align: center;
            }
            div.text-area{
                p.election-title{
                    text-align: center;
                    margin-bottom: 1em;
                }
                div.committee{
                    display: flex;
                    margin-bottom: 1em;
                    p.committee-name{
                        text-align: center;
                        margin-left: 4rem;
                    }
                    img{
                        width: 3rem;
                    }
                }
                div.selected-pledge{
                    margin-bottom: 2rem;
                    h3{
                        text-align: center;
                    }
                    p.pledge-title{
                        text-align: center;
                    }
                    p.pledge-name{
                        text-align: center;
                    }
                }
                ul.detail{
                    margin: 0 auto 2rem;
                    width: 290px;
                    li{
                        list-style: disc;
                    }
                }
                p.add-wallet{
                    text-align: center;
                    margin-bottom: 3em;
                    a{
                        background-color: $Color2;
                        padding: 0.7em 1em;
                        border-radius: 25px;
                    }
                }
                div.sns-contents{
                    padding-bottom: 3rem;
                    @media(769px <= width){
                        padding-bottom: 0;
                    }
                    p.text{
                        text-align: center;
                        margin-bottom: 1em;
                    }
                    p.x-link{
                        text-align: center;
                        margin-left: auto;
                        margin-right: auto;
                        width: 50%;
                        background-color: $Black;
                        border-radius: 25px;
                        margin-bottom: 1.3em;
                    }
                    p.instagram-link{
                        text-align: center;
                        margin-left: auto;
                        margin-right: auto;
                        width: 50%;
                        background-image: linear-gradient(129deg, #8924d9, #d53e7c 30% 49%, #cf8650 86%);
                        border-radius: 25px;
                    }
                }
            }
        }
    }
}
